<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>video demo</title>
  <link rel="stylesheet" href={{location+'/assets/css/common.css'}}>
  <style>
    /*html,body{*/
      /*width: 100%;*/
      /*height: 100%;*/
      /*margin: 0;*/
      /*padding: 0;*/
    /*}*/
  </style>
</head>
<script type="text/javascript" src={{location+'/assets/flowplayer/flowplayer.min.js'}}></script>
<body>
<!--flash播放 pc端演示-->
<div
  style="display:block;width:1280px;height:720px"
  id="player">
</div>
<script>
  var prefix = '{{location}}'
  var videoUrl = '{{videoUrl}}'
  //  flowplayer("player", "{{location+'/assets/flowplayer/flowplayer.swf'}}")
</script>
<script src={{location+'/assets/js/$.js'}} defer></script>
<script src={{location+'/assets/js/player.js'}} defer></script>
</body>
</html>