<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>video demo</title>
  <link rel="stylesheet" href={{location+'/assets/css/common.css'}}>
</head>
<body>
<!--flash播放 pc端演示-->
<div id="player" class="player" style="width:1280px;height:720px;">
</div>
<script>
  var prefix = '{{location}}'
  var videoUrl = '{{videoUrl}}'
</script>
<script src={{location+'/assets/js/$.js'}} defer></script>
<script src={{location+'/assets/swf/flowplayer-3.2.13.min.js'}} defer></script>
<script src={{location+'/assets/js/player.js'}} defer></script>
</body>
</html>