<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>video play </title>
  <link rel="stylesheet" href={{location+'/assets/css/common.css'}}>
  <style>
    video {
      display: block;
      width: 1280px;
      height: 720px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
<script>
  var prefix = '{{location}}'
</script>
<script src={{location+'/assets/js/$.js'}} defer></script>
<div class="container">
  <video id='player' src="{{videoUrl}}" autoplay poster={{location+'/assets/img/VideoLoading.gif'}} controls></video>
</div>
</body>
<script>
  document.onkeydown = grabEvent
  function goBack() {
    $.redirect($.getCookie('playBackUrl'))
  }
  var video = document.getElementById('player')
  //按键事件函数
  function grabEvent(event) {
    var keycode = event.keyCode
    switch (keycode) {
      case 8:
      case 27:
        //返回键
        goBack()
        return 0
      case 13:
        //enter键
        // 切换状态
        if (video.paused) {
          video.play()
        } else {
          video.pause()
        }
        return 0
      default:
        break;
    }
  }
</script>
</html>